@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table id="tRestaurant" class="table">
    <tr>
        <td>餐廳名稱</td>
        <td>電話</td>
        <td>地址</td>
    </tr>
</table>
<script language="javascript">
    $.ajax(
        {
            url: "http://localhost:379/api/Restaurant/GetRestaurantList",
            type: 'get',
            cache: false,
            async: false,
            data: { RestaurantName: 1 },
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                if (data) {
                    var strTr = "";
                    $.each(data, function (i, item) {
                        $.each(item, function (j, item2) {
                            strTr += "<tr>";
                            strTr += "<td>" + item2.restaurantName + "</td>";
                            strTr += "<td>" + item2.restaurantPhone + "</td>";
                            strTr += "<td>";
                            strTr += item2.restaurantCity + item2.restaurantCounty + item2.restaurantRoad;
                            if (item2.restaurantLane != "") {
                                strTr += item2.restaurantLane + "巷";
                            }
                            if (item2.restaurantAlley != "") {
                                strTr += item2.restaurantAlley + "弄";
                            }
                            if (item2.restaurantNumber != "") {
                                strTr += item2.restaurantNumber + "號";
                            }
                            if (item2.restaurantFloor != "") {
                                strTr += item2.restaurantFloor + "樓";
                            }

                            strTr += "</td>";
                            strTr += "</tr>";
                        });

                    });
                    $("#tRestaurant").append(strTr);
                }
            }
        });
</script>